## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

## Build artifacts
*.dll
*.exe
*.pdb
*.ilk
*.obj
*.lib
*.exp
*.cache
*.nupkg
*.snupkg
*.msi
*.msp

## Rider / JetBrains
.idea/
*.sln.iml

## VS Code
.vscode/

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## NuGet
packages/
*.nupkg
project.lock.json
project.fragment.lock.json
artifacts/

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx
*.coverage
*.coveragexml

## Publish output
publish/

## Windows Installer
*.cab
*.msi
*.msix
*.msm
*.msp

## Temp
*.tmp
*.bak
*.swp
*~

## Media files
*.mp4
*.mkv

.kilo/
*REPORT*.md